<!doctype html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, { updatemenus: [{y:0.8, yanchor: "top", buttons: [{method: "restyle", "args": ["line.color", "blue"], label: "blue"}]}]});
                }
            });
        }
    </script>
</head>

<body style="font-family:arial, sans-serif">
    <h2>Choose pv</h2>
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">
    <div id="chart" class="chart"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, { updatemenus: [{y:0.8, yanchor: "top", buttons: [{method: "restyle", "args": ["line.color", "blue"], label: "blue"}]}]} );
</script>
</html>

